//- pug uses a whitespace-sensitive syntax to produce HTML documents
//- pug will also accept regular html written inside it

//- basic usage:
//-   h1 Example → <h1>Example</h1>

//- class names
//-   nav.class1.class2 → <nav class="class1 class2">...</nav>
//-   nav.fixed-class(class=`variable-class-${i}`) → <nav class="fixed-class variable-class-x">
//- divs disappear by default
//-   .class1 Content → <div class="class1">Content</div>

//- use with variables:
//-   app.js: res.status(200).render('base', {user: 'John'})
//-   base.pug: h1= user → <h1>John</h1>

//- use with js code:
//-   h1= user.toUpperCase() → <h1>JOHN</h1> (buffered code)

//- unbuffered code (code that isn't rendered):
//-   - const x = 9 (unbuffered)
//-   h1= x → <h1>9</h1> (buffered again)

//- interpolation, kinda like template literals:
//-   h1 #{user} has logged in → <h1>John has logged in</h1>

//- loops:
//-   each [element] in [array]
//-     li [element]

//- if statements
//-   - if (foo === 'bar')
//-     ...pug code...
//-   

//- mixins:
//- defined near the top of the code
//-   mixin exampleMixin(arg0,arg1)
//-     span #{arg0} or #{arg1}
//- executed in the body of the pug code
//-   +exampleMixin('cake','death')

//- importing and includes:
//- snippets of pug code can be split off and imported into the main document
//- include _fileName

//- blocks and extending:
//- blocks define a section of code that can be modified by other files
//- so basically, importing but reversed
//- when childFile.pug is loaded, averything from base.pug will be
//- imported, and base's blockName will be replaced by childFile's
//- base.pug:
//-   block blockName
//-     ...original pug code...
//- childFile.pug:
//-   extends base
//-   block blockName
//-     ...replacement pug code...

//- append and prepend:
//- instead of replacing a block, content can be added before or after original
//- block's content.
//- useful for modifying the head of an html document without breaking anything
//- base.pug:
//-   block blockName
//-     ...original pug code...
//- childFile.pug:
//-   extends base
//-   block append blockName
//-     ...appended pug code...

doctype html
html
  head 
    block head
      meta(charset='UTF-8' )
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='/css/style.css')
      link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
      link(rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin="")
      title Natours | #{title || 'Find your next adventure'}
      //- leaflet CDN
      script(src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin="")
      //- stripe CDN
      script(src="https://js.stripe.com/v3/")
      script(src='/js/bundled/index.js', defer)

  body(data-alert=`${ alert ? alert : '' }`)
    // header
    include _header

    // content
    block content 
      h1 This is a placeholder

    // footer
    include _footer